<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb11S.dao.MemberDAO">
	<select id="getMemberEmailIdCheck" resultType="com.spring.javaweb11S.vo.MemberVO">
		SELECT * FROM member WHERE emailId=#{emailId};
	</select>
	
	<select id="getMemberIdFind" resultType="com.spring.javaweb11S.vo.MemberVO">
		SELECT * FROM member WHERE name=#{name} AND telNum=#{telNum};
	</select>
	
	<select id="getMemberPwdFind" resultType="com.spring.javaweb11S.vo.MemberVO">
		SELECT *  FROM member WHERE name=#{name} AND telNum=#{telNum} AND emailId=#{emailId};
	</select>
	
	<select id="getMemberIdxCheck" resultType="com.spring.javaweb11S.vo.MemberVO">
		SELECT * FROM member WHERE idx = #{sIdx};
	</select>
	
	<select id="getMemberOrderHistory" resultType="com.spring.javaweb11S.vo.OrderHistoryVO">
		SELECT * FROM orderhistory WHERE member_Idx = #{sIdx} ORDER BY orderdate DESC;
	</select>
	
	<select id="getMemberOrderHistory_Detail" resultType="com.spring.javaweb11S.vo.OrderHistory_DetailVO">
		SELECT ohd.idx, ohd.orderhistory_idx, oh.shipping_num, oh.orderdate, ohd.status, ohd.goods_idx, ohd.option_idx, ohd.goods_stock, g.thumbnail AS goods_thumbnail, g.name AS goods_name, go.goods_option, b.name AS goods_brand, g.price AS goods_Price
		FROM orderhistory oh
		JOIN orderhistory_detail ohd ON ohd.orderhistory_idx = oh.idx
		JOIN goods g ON g.idx = ohd.goods_idx
		JOIN goods_option go ON go.option_idx = ohd.option_idx
		JOIN brand b ON b.idx = g.brand_idx
		WHERE oh.member_idx = #{sIdx}
		ORDER BY ohd.idx DESC;
	</select>
	
	<select id="getTodayMemberVisitCheck" resultType="int">
		SELECT todayVisitCnt FROM member WHERE emailId = #{vo.emailId};
	</select>
	
	<select id="getBirthdayMemberList" resultType="com.spring.javaweb11S.vo.MemberVO">
		 SELECT * FROM member WHERE DATE(birthday) = CURDATE();
	</select>
	
	<insert id="setInsertMemberBirthdayCoupon">
		INSERT INTO coupon(idx, member_idx, name, dcpercentage, issuedDate, usageDate, status, usedDate) 
		<foreach collection="vos" item="item" separator=",">
			VALUES(default, #{item.idx}, #{coupon_Name}, #{percentage}, default, default, default)
		</foreach>
		;
	</insert>
	
	<insert id="setMemberJoinOk">
		INSERT INTO member VALUES(default,#{vo.emailId},#{vo.pwd},#{vo.name},#{vo.gender},#{vo.birthday},#{vo.telNum},default,default,default,default,default,default,default);
	</insert>
	
	<insert id="setInsertMemberCoupon">
		INSERT INTO coupon(idx, member_idx, name, dcpercentage, issuedDate, usageDate, status, usedDate) 
		VALUES(default, #{vo.idx}, #{coupon_Name}, #{percentage}, default, default, default);
	</insert>
	
	<update id="setMemberVisitPoint">
		UPDATE member SET point = point + 100 WHERE emailId = #{vo.emailId};
	</update>
	
	<update id="setMemberVisitProcess">
		UPDATE member SET totVisitCnt = totVisitCnt + 1, todayVisitCnt = todayVisitCnt+1, lastVisitDay = NOW() WHERE emailId = #{vo.emailId};
	</update>
	
	<update id="setMemberPwdUpdate">
		UPDATE member SET pwd = #{updatePwd} WHERE emailId = #{emailIdForm};
	</update>
	
	<update id="setMemberGoodsConfirmAJAX">
		UPDATE orderhistory_detail SET returns_status = '구매확정' WHERE idx = #{orderHistory_Detail_Idx}; 
	</update>
</mapper>